#parent{
    height: 1000px;
    width: 1000px;
    background-color: rgb(20, 169, 119);
    display: flex;
    /* align-items: center; */
    /* align-items: flex-end; */
    align-items: flex-start;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}
#child1{
    height: 200px;
    width: 200px;
    background-color: blue;
}
#child2{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 255);
}
#child3{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 0);
}